body a:hover {
  text-decoration: none !important;
}

.topbar {
  margin-left: 20px;
  background-color: #333333;
  color: white;
  padding: 10px;
  margin: 10px;
}

.pagination {
  margin-top: 20px;
}

button.btn-primary {
  background-color: #bada55;
  border-color: #333333;
  margin: 5px;
}

button.btn-primary:hover{
    background-color: #97ba28;
}

button.btn-info {
  margin: 5px;
  color: white;
}

button.btn-info:hover{
    background-color: #05538b;
}

.program {
  padding: 10px;
}

.program-image {
  max-width: 100%;
}

.program-title {
  padding: 20px;
  max-width: 100%;
  text-align: center;
  font-size: 18px;
}