<div ng-controller="ProgramListController as listCtrl">

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-1 col-xs-2" ng-repeat="letter in listCtrl.letterList">
        <div>
          <a href="{{ letter.url }}" class="btn-block" id="{{ letter.id }}"> {{ letter.icon }} </a>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-1 col-xs-2" ng-repeat="page in listCtrl.paginationList">
        <div>
          <a href="{{ page.url }}" class="btn-block" id="{{ page.id }}"> {{ page.number }} </a>
        </div>
      </div>
    </div>
  </div>

  <table>
    <tbody>
      <tr ng-repeat="program in listCtrl.programs">
        <td><img ng-src="{{ listCtrl.parseImageUrl(program.images.standard) }}"></td>
        <td>{{ program.title }}</td>
      </tr>
    </tbody>
  </table>

</div>