<div ng-controller="ProgramListController as listCtrl">

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-1 col-xs-2" ng-repeat="letter in listCtrl.letterList">
        <div>
          <a href="{{ letter.uri }}" class="btn-block" id="{{ letter.id }}"> {{ letter.icon }} </a>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2 col-xs-2"> Page: </div>
      <div class="col-md-1 col-xs-2" ng-repeat="page in listCtrl.paginationList">
        <div>
          <a href="{{ page.uri }}" class="btn-block" id="{{ page.id }}"> {{ page.number }} </a>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-xs-12 program" ng-repeat="program in listCtrl.programs">
        <div class="col-xs-4 program-image"> <img ng-src="{{ listCtrl.parseImageUrl(program.images.standard) }}"> </div>
        <div class="col-sm-8 col-xs-12 program-title"> {{ program.title }} </div>
      </div>
    </div>
  </div>

</div>